%div(data-role='header')
  %a(href='/' data-icon='back' data-rel='back') Back
  %h1= @user.name_or_login

%div(data-role='content')
  %div(style='text-align:center')= image_tag @user.avatar.medium.url, :style => 'text-align:center'
  %div(style='text-align:center')= link_to '发小纸条', new_message_path(:id => @user.id)
  - if logged_in? && current_user == @user
    积分
    = @user.balance.credit
