/* jQuery-Mobile-Toast Plugin
 * contains all plugin styles
 */
 

/* Shared Styles */

.ui-toast {
	color: white;
	background-color: #555;
	padding: 6px;
	font-size: 10pt;
	font-weight: normal;
	border: 1px solid #666;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	position: fixed;
	z-index: 5000;
  opacity: 0.7;
}

