<%= form_for(@invitation_code) do |f| %>
  <% if @invitation_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation_code.errors.count, "error") %> prohibited this invitation_code from being saved:</h2>

      <ul>
      <% @invitation_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
