.hg/
.hgignore
.hgeol
.hgcheck/
.hgreview
.hgtags
.idea/
.DS_Store
.bundle/
vendor/bundle
vendor/data
*.orig
*.swp
*.*~
public/system
public/uploads
public/assets
config/database.yml
log/*.log
tmp/*

log/mailman.output

*.output
.env
.env.*
coverage

.tags
