.ui-block-b
  = link_to dn_post_path(post), class: 'arrow down voted', rev: 'vote-against', rel: 'nofollow', data:{role: 'button', mini: true, theme: 'b', shadow: 'false'}, remote: true  do
    = fa_icon 'thumbs-down'
    = post.neg
