.ui-block-a
  = link_to up_post_path(post, format: 'js'), class: 'arrow up', rev: 'vote-for', rel: 'nofollow', data:{role: 'button', mini: true, shadow: 'false'}, remote: true do
    = fa_icon 'thumbs-o-up'
    = post.pos
