.ui-block-a
  = link_to up_post_path(post), class: 'arrow up voted', rev: 'vote-for', rel: 'nofollow', data:{role: 'button', mini: true, shadow: 'false'}, remote: true do
    = fa_icon 'thumbs-up'
    = post.pos
