-if @topic
  %ul.comments
    = render_comments @comments
  - unless @topic.closed?
    %div#comment-form.reply-form
      = render 'comments/form'
  - else
    禁止评论
-else
  = render_comments @comments
  = paginate @comments
