= form_for Topic.new,:url=>topics_path(@group)  do |f|
  = f.text_area :content, :placeholder => '对你思念的人说句晚安吧'
  = f.submit '发表', :class => 'btn btn-primary pull-right'
  - if logged_in?
    %label.checkbox.pull-right.span1
      = f.check_box :anonymous
      匿名