- if @article.top_post
  %h4
    收到了总计 #{@article.top_post.total_rewards} 积分打赏
  - if @article.top_post &&  @article.top_post.rewarders.exists?
    #{@article.top_post.rewarders.count} 打赏者：
    - @article.top_post.rewarders.each do |rewarder|
      = link_to rewarder.login, rewarder
