%nav.sibling
  - unless @article.prev_in_group.blank?
    = link_to [@group, @article.prev_in_group], :rel => 'prev', :class => 'previous' do
      &laquo; 上一篇:
      = article_title @article.prev_in_group
  - unless @article.next_in_group.blank?
    = link_to([@group, @article.next_in_group], :rel => 'next', :class => 'next') do
      下一篇:
      = article_title @article.next_in_group
      &raquo;
