- content_for :title, '发表文章'
.breadcrumb
  = link_to '首页', root_path
  &raquo;
  = link_to @group.name, @group if @group

= render 'articles/omni_form'
  
- content_for :javascripts do
  :javascript
  $(function(){
      $('<div id="faceTitle"></div>').insertBefore($("#article_top_post_attributes_content"));
      $('<label for="article_top_post_attributes_external_image_url">或者您可以填写图片地址</label>').insertBefore("#article_top_post_attributes_external_image_url");
      var fields_count=0;
      var picture_attachment_fields = $('#picture_attachment_fields').html();
      $('#picture_attachment_fields').remove();
      $('#add_more_picture').click(function(){
        var html = picture_attachment_fields.replace(/\[0\]/g, '['+ fields_count++ + ']');
        $(html).insertBefore($(this));
        return false;
      })
      $("#article_top_post_attributes_type_"+$.url().param("type")).click();
  })
