- content_for :title, '发表文章'
%p
  - unless @group
    %fieldset
      - groups = current_user.publications(Group)
      选择要在哪个小组发表
      %br
      %select(name='group_id' title='Group')
        - groups.each do |c|
          %option{:value=> c.id}= c.name
      - if groups.size == 0
        您还没加入任何小组，
        %go{:href=>groups_path} 赶紧去找一个找自己喜欢的吧

  %fieldset
    标题
    %br
    %input(name="title" type="text" size="16" emptyok="true"  maxlength="255")
  %fieldset
    内容
    %br
    %input(name="content" type="text" size="16" emptyok="true"  maxlength="65535")
  %fieldset
    %select(name="anonymous" title="Ananoymous?")
      %option( value="0") 署名
      %option( value="1") 匿名
    %select(name="uncommentable" title="Commentable?")
      %option( value="0") 开放评论
      %option( value="1") 禁止评论

%anchor
  发表
  %go{:href=> url_for(@group ? topics_path(@group) : {:controller => 'topics', :action => 'create'}), :method=>"post"}
    %postfield{:value=>"✓",:name=>"utf8"}
    %postfield{:value=>"#{form_authenticity_token}",:name=>"authenticity_token"}
    - unless @group
      %postfield(value='$group_id' name='article[group_id]')
    %postfield(value="$title" name="article[title]")
    %postfield(value="$content" name="article[content]")
    %postfield(value='$anonymous' name='article[anonymous]')
    %postfield(value='$uncommentable' name='article[uncommentable]')
