<% form_for(@post, :html => {:class => 'bp'}) do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :parent_id %>
<%= f.label :title, '标题（可选）' %><br/>
<%= f.text_field :title %>
<p>
    <%= f.label :content, '说说你在做什么，想什么' %><br />
    <%= f.text_area :content %>
</p>
<p>
  <label>
    <input type="radio" name="anonymous" value="0" checked/>实名
   </label>
  <label>
    <input type="radio" name="anonymous" value="1" />匿名
   </label>
  投递到：
  <% for g in Group.all %>
  <label><input type="checkbox" name="post_to[]" value="<%= g.id%>"/><%=g.name%></label>
  <% end %>
  <%= f.submit 'Create' %>
</p>

<% end %>
