- dim = picture.dimensions['original'] || [0,0]
= link_to image_tag(picture.picture.small), picture.picture.large.url, class: 'picture', data: {width: dim[0].to_i, height: dim[1].to_i}, title: picture.article.article_title
= render_post_content picture
