.middleArea
  .search
    =#widget "group_search"
  .grouplogo
    %img{:src=>"#{current_theme_image_path('grouplogo.png')}", :title=>"遗风吟词" ,:alt=>"遗风吟词"}
    %p
      过往中盛放的文字乐章
  .groupdescribe
    %h2
      落笔之处，生魂之所
      %p.detail
        欢迎所有原创投稿，鼓励所有文艺的心
