.group_hd
  .group_pic
    = link_to image_tag( @group.icon.medium.url), @group
  .group_text
    .group_title.clearfix
      .group_titlel= link_to @group.name, @group
    .group_meta_content
      - cache ['grouppage', @group], :expires_in => 1.hour do
        = sanitize @group.to_post.content
