.my {
  .group-list {
    .group {

    }
  }

  .article-list {
    .article {
      .subscribe {}
      .like {}
      .dislike {}
      .entry-content {
        p {
          line-height: 162%;
          margin-bottom: 0.5em;
        }
      }
    }

    .comments {
      .comment {
        .avatar {}
        .topic-owner {}
        .like {}
        .dislike {}
        .liked {}
        .disliked {}
      }
    }
  }
}
.notification-box{
  width: 204px;
  min-height: 20px;
  background-color: white;
  background-image: url("tailake/new-notification.png");
  background-position: 5px 5px;
  @include border-radius(5px);
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  border: 3px solid #ddd;
  top: 0;
  #clear_all_notifications {
    padding-right: 15px;
    display: block;
    float: right;
    margin-bottom: 10px;
    position: relative;
    text-align: right;
    width: 200px;
  }

  ul {
    li {
      font-size: 12px;
      margin:5px 0;
      padding: 7px;
      &:hover, &.hover{
        cursor:pointer;
        //border:1px solid #ffffff;
        background-color: #eee;
      }
    }
  }
}

.more-item {
  clear:both;
  margin-left: 77px;
  display: block;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #eee;
  //background-position:
  padding: 10px;
  &:hover {
    border-color: #666;
    background-color: #fff;
  }
}

.warning,.recommend-groups {
  margin-left: 77px;
  display: block;
  text-align: center;
  height: 100px;
  clear: both;
  margin-top: 20px;
}

.fixed {
  position: fixed;
}


.subnav {
  clear:both;
  margin: 10px 0 10px 77px;
  display: block;
  text-align: right;
  background-color: #eee;
  a {
    text-decoration:underline;
  }

  a.question{

    visibility: hidden;
    margin-right:10px;
    img{
      height:16px;
      width:16px;
    }
  }
  &:hover{
     a.question{
     visibility:visible;
   }
  }
  .question-answer{
    clear:both;
    margin: 10px 0 10px 77px;
    display: none;
    text-align: right;
    background-color: #eee;
  }
  //color: #ff5f00;
}