- if current_user.subscribed?(@article)
  = link_to '取消订阅', [:unsubscribe, @article.group, @article], method: :post, remote: true, id: dom_id(@article, 'unsubscribe')
- else
  = link_to '订阅', [:subscribe, @article.group, @article], method: :post, remote: true, id: dom_id(@article, 'subscribe')
