- id=article.id
- top_post = article.top_post
- permalink = article_url(@group, article)
- expanded = current_page?(permalink) ? 'expanded' : ''
%div[article]{:class => [expanded]}
  %div[article.top_post]
    - unless article.title.blank?
      %h2.entry-title=link_to article.title, permalink, :class => 'permalink', :rel => 'bookmark'
    .entry-content= sanitize  article.top_post.content
