- content_for :title, '编辑文章'
.breadcrumb
  = link_to '首页', root_path
  &raquo;
  = link_to @group.name, @group if @group

= render 'articles/omni_form'
- content_for :javascripts do
  = javascript_include_tag 'http://js.nicedit.com/nicEdit-latest.js'
  :javascript
    bkLib.onDomLoaded(nicEditors.allTextAreas);