%h3 最近新建小组
%ul
  - Group.not_pending.latest.limit(5).each do |group|
    %li
      = link_to articles_path(group) do
        = image_tag group.icon.url(:thumb), :alt => group.name, :size => '48x48'
      %h4= link_to group.name, articles_path(group)
      %p= group.description

