<!--div id="searchr" style="padding-top: 10px;">
                <form id="searchr-form" action="http://www.google.com.hk/cse">
                   <input type="hidden" name="cx" value="partner-pub-8174826747566365:6748693191" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="22" id="searchr-input" style="width:240px;"/>

                  <input value="搜索"  type= "submit" id="searchr-submit" style="width:50px;">
                </form>
              </div>
<script type="text/javascript" src="http://www.google.com.hk/coop/cse/brand?form=cse-search-box&amp;lang=zh-Hans"></script-->
<a href="http://www.haowanlab.com" target="_blank" rel="external"><img src="http://www.haowanlab.com/pic/hbadd.png" alt=""/></a>
