%h1= @guestbook.name
= render @stories
= paginate @stories, :theme => 'twitter-bootstrap-3'
= link_to 'New Story', [:new, @guestbook, :story]

:css
  .story {
    padding: 10px;
    margin: 10px;
    border: 1px #aaa solid;
  }
  .story > .content {
    margin: 5px;
    font-size: 14px;
  }
  .story .comments {
    margin-left: 20px;
  }
