= jqm_header do
  = jqm_menu_link
  %h1 收件箱
  = link_to '发小纸条', new_message_path, data: { icon: 'edit', iconpos: 'notext', rel: 'dialog' }
%div(data-role='content')
  %ul(data-role='listview' )
    = render @messages
