<h1>Editing keyword</h1>

<% form_for(['admin', @keyword]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @keyword] %> |
<%= link_to 'Back', admin_keywords_path %>
