.articles-list .article {
  margin: 5px;
  padding: 0;
  float: left;
  border: none; }
  .articles-list .article .entry-content {
    text-align: left; }
  .articles-list .article .entry-title {
    text-align: left;
    font-size: 16px;
    margin-top: 10px; }
  .articles-list .article .midcol {
    top: 15px;
    left: 15px;
    display: none;
    position: absolute;
    border: 1px solid #666666;
    background-color: #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .articles-list .article .meta {
    float: none; }
    .articles-list .article .meta .subscribe-button, .articles-list .article .meta .comment-status, .articles-list .article .meta .repost-button, .articles-list .article .meta .admin, .articles-list .article .meta .user-action-time {
      display: none; }
    .articles-list .article .meta .post-signature {
      float: none; }
  .articles-list .article .top_post {
    text-align: center;
    font-size: 12px;
    position: relative;
    margin: 5px;
    padding: 10px;
    border: 1px solid #dddddd;
    width: 195px; }
    .articles-list .article .top_post:hover {
      border-color: #666666; }
      .articles-list .article .top_post:hover .midcol {
        display: block; }
    .articles-list .article .top_post.mine .midcol {
      background-color: #efefef; }
    .articles-list .article .top_post a.picture {
      display: block;
      float: none;
      width: 190px;
      height: auto; }
      .articles-list .article .top_post a.picture img {
        float: none;
        width: 190px;
        height: auto; }

body.articles-index #sidebar, body.groups-show #sidebar {
  display: none !important; }
body.articles-index #content, body.groups-show #content {
  width: 950px !important;
  background-image: none; }
