%ul.comments-list
  = render @comments
- if logged_in?
  - unless @topic.closed?
    = link_to '发表评论', new_group_topic_post_path(@group, @topic), data: {:role => 'button', :transition => 'slideup', :rel => 'dialog'} #comment_form
  - else
    禁止评论
- else
  = link_to '登录后发表评论', login_path, data: {role: 'button', transition: 'slidedown', rel: 'dialog'}
