- content_for :after_content do
  %p
    = link_to_unless_current '全部', scoped_path(:scope => 'all')
    - Tag.find_each do |tag|
      = link_to_unless @tag == tag, tag, scoped_path(:scope => "tags/#{tag}")
= render :template => 'layouts/application'
