<li class='input simple_captcha required'>
    <label class='simple_captcha_label'><%= simple_captcha_options[:label] %><abbr title="*">*</abbr></label>
  <%= simple_captcha_options[:field] %>
  <div class='simple_captcha_image' style="margin-left: 80px;margin-top: 10px;">
    <%= simple_captcha_options[:image] %>
  </div>
</li>
