%p><= join_oneline( |
  link_to("查看大图#{picture.dim_size(:large)}",picture.picture(:large)), |
  link_to("中图#{picture.dim_size(:medium)}",picture.picture(:medium)), |
  link_to("小图#{picture.dim_size(:small)}",picture.picture(:small)), :sep => '<br/>') |
= render_post_content picture
