<h1><%= @user.login %> posts</h1>

<%if @user==current_user%>
  <%= render 'form' %>
<%end%>

<ol id="posts">
  <%=render @posts%>
</ol>
<div id="replyBox" class="talkWrap" style="display:hidden">
</div>
<div id="test">
</div>
