@import "compass/css3";
#login-form {
  width: 400px;
  margin: auto;
  form {
    background: none repeat scroll 0 0 #FFFFFF;
    //border: 1px solid #E5E5E5;
    //border-radius: 3px 3px 3px 3px;
    //box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    font-weight: normal;
    //margin-left: 8px;
    padding: 26px 24px 46px;
    .input {
      background: none repeat scroll 0 0 #FBFBFB;
      border: 1px solid #E5E5E5;
      @include single-box-shadow(rgba(200, 200, 200, 0.2), 1px, 1px, 2px, inset);
      font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
      font-size: 24px;
      font-weight: 200;
      margin: 2px 6px 16px auto;
      outline: medium none;
      padding: 3px;
      width: 97%;
    }
  }
  label {
    color: #777;
    font-size: 14px;
  }
  textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select {
      background-color: #FFFFFF;
      border-color: #DFDFDF;
  }
  input {
      color: #555555;
  }
  textarea, input[type="text"], input[type="password"]{
    &:focus {
      border-color: #777;
    }
  }
  .remember {
      float: left;
      font-weight: normal;
      margin-bottom: 0;
  }
  .submit {
    float: right;
    border-color: #dfdfdf;
    line-height: 15px;
  }
  .button-primary {
      background-color: #21759B !important;
      border-color: #298CBA;
      color: #FFFFFF;
      font-weight: bold;
      @include single-text-shadow(rgba(0, 0, 0, 0.3), 0, -1px, 0);
      border: 1px solid;
      border-radius: 15px;;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 13px;
      margin-top: -3px;
      padding: 5px 15px;
      text-decoration: none;
      &:hover, &:focus, &:active {
        border-color: #13455B;
        color: #EAF2FA;
      }
  }
}

.cssgradients {
  .button-primary {
    @include background(linear-gradient(top, #288AB7, #1E6688));
  }
}
.no-cssgradients {
  .button-primary {
    background: url("button-grad.png") repeat-x scroll left top;
  }
}

.ie6 {
  .button-primary {
    @include filter-gradient(#288AB7, #1E6688);
  }
  .input {
    &.focus {
      border-color: #777 !important;
    }
  }
}
