
.groupcard, .usercard{
  color: #fff;
  a {
    color: #fff;
  }
  .icon{
    height:64px;
    width:64px;
    float: left;
    img {
      height:64px;
      width:64px;
    }
  }
  .detail{
    padding-left: 10px;
    width: 150px;
    float: left;
    word-break: break-all;
    word-wrap: break-word;
    .name{
      float:left;
      width:150px;
      clear:right;
    }
    .description{
      float:left;
    }
  }
  .join{
    padding-top:10px;
    clear:both;
  }
}
