-#
  %h3.new-year-countdown 距离2012年春节还有：
  #defaultCountdown
%br
%h3 欢迎来到博聆网
%p 博聆网是一个有人情味的社区，聚集了各种高质量内容的兴趣圈子，在这里大家可以建立您自己的圈子，找到志趣相投的朋友。

%p(style="text-align:right")
  = link_to '新手指南 »', '/faq/tutorial'
  = link_to '常见问题 »', topics_path('faq')

%p
  %a{:href=>"/faq/ru-he-zai-liu-lan-qi-zhong-jiang-bo-ling-wang-she-wei-shou-ye-_", :target => '_blank', :onclick => "try{this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.bling0.com/');return(false);}catch(e){}", :style => "background: url(#{asset_path('go-home.png')}) no-repeat; padding-left: 18px"} 将博聆网设为首页
%p
  %a{:href=> '#', :onclick => "window.external.AddFavorite(location.href, document.title);", :style => "background: url(#{asset_path('bookmark_book_open.png')}) no-repeat; padding-left: 18px;"} 将博聆网加入收藏夹

%p(style="padding-left: 19px; background:url(/images/mobile.gif) no-repeat")
  %a{:href => 'http://m.bling0.com', :target => '_blank'}
    手机版网站请访问
    %br
    http://m.bling0.com
%p(style="padding-left: 19px; background:url(/images/mobile.gif) no-repeat")
  %a{:href => 'http://wap.bling0.com', :target => '_blank'}
    WAP纯文字版网址
    %br
    http://wap.bling0.com
%p(style="padding-left: 19px; background:url(/images/mobile.gif) no-repeat")
  %a{:href => 'http://itunes.apple.com/zh/app/bo-ling-you-ren-qing-wei-she/id494780287?ls=1&mt=8', :target => '_blank', :rel => 'external'}
    iPhone App下载
