- cache 'recommend_groups', :expires_in => 1.hour do
  -#slide第一个，我们做过的那些梦，精彩自拍，水库，当时我就震惊了
  -first =  [254,251,1,32]
  -#slide第二个 今天吃了什么，音乐直通车,微视频,碎碎念
  -second = [275,34,66,264]
  -#slide第三个，what a funcking day，上班那些事，情感，狗血生活
  -third =   [77,108,222,18]
  -# 晚安，夜半鬼话，学生党，心理测试
  -forth = [107,12,145]
  -slides_array = [first,second,third,forth].flatten
  %h3 推荐小组
  -slides_array.each do |c|
    %ul
      - Group.where(id: c).order('created_at desc').limit(5).each do |group|
        %li
          = link_to articles_path(group), title: group.name, class: 'group', :'data-alias' => group.alias do
            = image_tag group.icon.thumb.url, alt: group.name, size: '48x48'
