/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require "colorbox"
 *= require "tip-twitter"
 *= require "tip-green"
 *= require 'emoji'
 *= require 'notifications'
 *= require 'jquery.atwho'
 *= require select2
 *= require simditor
 *= require nprogress
 *= require nprogress-bootstrap
 * require "xmas"
 * require "countdown"
*/


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "calendar_styles/blue";

body {
  background-color: #efefef;
}
#content {
  background-color: #fff;
}

#login-info {
  float: right;
}

.img_link {
  width: 120px;
  height: 90px;
  line-height: 0;
  a.picture {
    img {
      float:left;
      width: 65px;
      height: 65px;
      border: 1px solid #666;
      padding: 1px;
      margin-right: 5px;
      margin-bottom: 3px;
    }
  }
}

.flash_link {
  //position: relative;
  width: 120px;
  height: 90px;
  line-height: 0;
  img {
    width: 120px;
    height: 90px;
  }
  .overlay {
    cursor: pointer;
    //position: absolute;
    @include opacity(0.5);
    margin-top: -61.5px;
    margin-left: 43.5px;
    width: 33px;
    height: 33px;
    display: block;
  }
  &:hover .overlay {
    @include opacity(0.8);
  }
}


.read {
  background-color:#F0F5F8 !important;
}

#channel-bar-wrapper {
  clear: left;
  background-color: #8FD401;
  width: 100%;
  margin:0;
  padding:0;
  text-align:center;
  margin-bottom: 16px;
}
#channel-bar {
  width: 950px;
  margin: auto;
  height: 20px;
  padding: 7px 0;
  ul {
    list-style: none;
    margin: 0;
    li {
      float: left;
      margin-right: 20px;
      font-size: 16px;
      font-weight: bold;
      a {
        color: #447A00;
        text-decoration: none;
      }
    }
  }
}

@import 'components/new_user_form';

.manage_readed {
    background: none repeat scroll 0 0 #F0F5F8;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: block;
    padding: 8px 0;
    text-align: center;
    &:hover{
      color:#047BB7;
    }
}
br.clr {
  clear: both;
}
.salary{
color: goldenrod;
vertical-align:middle;
}

#gototop{
  bottom: 15px;
  position: fixed;
  right: 15px;
  width: 50px;
  padding-right:15px;
  height: 50px;
  @include hide-text;
  background-image: url('back_to_top.png');
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  opacity: 0;
}

.ie6 #gototop {
  opacity: 0;
  position: absolute;
  top: 600px;
  left: 890px;
  right: auto;
  bottom: auto;
}



.empty-list {
  width: 90%;
  padding: 20px;
  margin: auto;
  text-align: center;
}
#searchr{
    height: 28px;
    margin: 3 0 3px 0px;
    position: relative;
}
#searchr-input{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 5px;
    border-color: #999999;
    border-style: solid none solid solid;
    @include border-left-radius(5px);
    border-width: 1px 0 1px 1px;
    float: left;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    padding: 4px 0;
    text-indent: 5px;
    width: 200px;
}
#searchr-submit, #user-searchr-submit{
    background: url("search_submit.png") repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    @include border-right-radius(5px);
    color: #333333;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 50px;
}
#user-searchr-submit{
    width: 50px;
}
.ie8#user-searchr-submit , .ie9#user-searchr-submit{
  width:75px;
}

body.groups-index.groups, body.groups-search.groups{
 #container{
  background-image:none !important;
  }
  #searchr{
    margin-left: 20px; margin-top: 8px; margin-bottom: 0px; padding-top: 0px;
  }
}
body.users-new{
 #container{
  padding-top:20px;
  }
}
body.home-index{
  #container{
  background-image:none !important;
  }
}
body.my-groups{
  #searchr{
    margin-left: 15px; margin-top: 10px;
  }
  .groups-list{
     margin-left: 10px;
  }
}
body.users-update,body.users-edit{
  #edit_user_form{
    background-color: transparent;
    }
}
fieldset.extra_fields {
  display: none;
}

fieldset.current_extra_fields {
  display: block !important;
}

#topic_top_post_attributes_type_input {
  @include clearfix();
    legend.label { display: none }
    ol li {
      float: left;
    }
}
table.user_lists{
td { height:40px;}
td.user_avatar { width:40px;}
td.user_name { width:200px;}
td.follow , td.membership { width:60px;}
td.new_message { width:80px;}
}
/*
.star-ptopic {
  @include experimental(animation-name, rotation);
  @include experimental(animation-duration, 1s);
  @include experimental(animation-iteration-count, infinite);
  @include experimental(animation-timing-function, linear)
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.role-admin {
  .avatar {
    box-shadow: #DAA520 0 0 3px 2px;
  }
  .name a, .user-details a{
    //color: goldenrod;
    font-weight: bold;
  }
}
.role-admin.repost{
  .avatar {
    box-shadow: #DAA520 0 0 0px 0px;
  }
  .name a, .user-details a{
    //color: goldenrod;
    font-weight: normal;
  }
}
.notifications-tip {
  .pagination {
    display: none;
  }
}
.notification-box{
  padding-top:5px;
}
ul#notifications_list{
  margin-top:5px;
  margin-bottom:5px;
  padding-bottom:10px;
}
  #invite-info{
    margin: auto auto 20px;
    overflow: visible !important;
    width: 400px;
  }
   #flash_messages{
    color:red;
    margin: 10px auto 10px auto;
    overflow: visible !important;
    width: 400px;
    text-align:center;
  }
  body.my-index{
    #sidebar{
      ul{
         margin-left: 0px;
      }
    }
}
.reward .action {
  clear: both;
  padding-left: 20px;
  background: {
    image: url("coins.gif");
    repeat: no-repeat;
    position: 0 6px;
  }
  .value {
    color: goldenrod;
  }
}
#sub-nav{
  padding-left:20px;
  margin-top:10px;
}
#select_date_for_user{
  margin-bottom:10px;
  width: 113px;
}
#select_date_for_group{
margin-left: 3px;
 margin-bottom:10px;
}
#calendar{
  margin-top:20px;
}
.box {
  //background-color: #f6f6f6;
  padding: 16px 0;
  margin: 0 15px;
}
