//= require jquery.mobile
//= require font-awesome
//= require 'photoswipe'
//= require 'photoswipe/default-skin/default-skin'
//= require timeago
//= require_tree ./mobile


@import 'bourbon';
body > input {
  display: none;
}
a.ui-slider-handle-snapping { -webkit-transition: none; -moz-transition: none; }

.even {
  background-color: #F8F8F8;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

span.sep {
    color: #ccc;
}



.notice {
    background: none repeat scroll 0 0 #FFF9E3;
    border: 1px solid #FADC80;
}

.flash_error {
    background: none repeat scroll 0 0 #FFF9E3;
    border: 1px solid red;
}


.topic-owner {
  .floor {
  font-weight: bold;

  }
  .author {
    font-weight: bold;
    padding: 0 2px 0 2px;
    color:#ccc;
    a{
      color: #006600 !important;
      background: #E9F4E9;
      padding: 0 4px 0 4px;
    }
  }
}

.top_post .post-signature {
  background-color: #E0EAF1;
}
.topics-list .top_post .post-signature{
    background-color: transparent !important;
}

.notification {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #DDD;
}

.sex-female {
  .author a {
    color: MediumOrchid !important;
  }
}

.rewarders_topic {
  img {
    width: 64px;
    height: 64px;
    margin: 10px;
  }
}
.conversations-list {
  .conversation {
    img {
      margin-left: 32px;
      margin-top: 24px;
    }
  }
}
.conversation .message {
  &.in p {
    text-align:left;
  }
  &.out p {
    text-align:right;
  }
}
