.notification-box {
  background-color: white;
  width: 260px;
  border: 5px solid #ddd;
  border-radius: 5px;;
}

.notification-box.empty {
  display: none;
}

.notification-box li {
  border-color: transparent;
  border-width: 1px;

  &:hover {
    border: 1px solid #333;
    cursor: pointer;
  }
}

.topic.current {
  border: 1px solid #000;
}