/*
 *= require typicons
 */

@import "bourbon";
@import "components/clearfix";
@import "components/topic";
@import "components/post";
@import "components/group";
@import "components/vote";
@import "components/subheader";
@import "components/header";
@import "components/footer";
@import "components/message";
@import "components/sidebar";
@import "components/paginator";
@import "components/list";
@import "components/poll";
@import "components/avatar_color";
@import "components/reputation";
@import 'components/login_form';
@import 'components/usercard';

.space {
  margin-left:5px;
  margin-right:5px;
  color:#ccc;
}
