<div style="display:none"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdc5d276d4fdcfdbbdca01899a196f203' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
