#faceContent{:style => "display: none;"}
  %a{:href => "javascript:"}
    %span.emoji.sun
  %a{:href => "javascript:"}
    %span.emoji.cloud
  %a{:href => "javascript:"}
    %span.emoji.rain
  %a{:href => "javascript:"}
    %span.emoji.snow
  %a{:href => "javascript:"}
    %span.emoji.thunder
  %a{:href => "javascript:"}
    %span.emoji.typhoon
  %a{:href => "javascript:"}
    %span.emoji.mist
  %a{:href => "javascript:"}
    %span.emoji.sprinkle
  %a{:href => "javascript:"}
    %span.emoji.aries
  %a{:href => "javascript:"}
    %span.emoji.taurus
  %a{:href => "javascript:"}
    %span.emoji.gemini
  %a{:href => "javascript:"}
    %span.emoji.cancer
  %a{:href => "javascript:"}
    %span.emoji.leo
  %a{:href => "javascript:"}
    %span.emoji.virgo
  %a{:href => "javascript:"}
    %span.emoji.libra
  %a{:href => "javascript:"}
    %span.emoji.scorpius
  %a{:href => "javascript:"}
    %span.emoji.sagittarius
  %a{:href => "javascript:"}
    %span.emoji.capricornus
  %a{:href => "javascript:"}
    %span.emoji.aquarius
  %a{:href => "javascript:"}
    %span.emoji.pisces
  %a{:href => "javascript:"}
    %span.emoji.sports
  %a{:href => "javascript:"}
    %span.emoji.baseball
  %a{:href => "javascript:"}
    %span.emoji.golf
  %a{:href => "javascript:"}
    %span.emoji.tennis
  %a{:href => "javascript:"}
    %span.emoji.soccer
  %a{:href => "javascript:"}
    %span.emoji.ski
  %a{:href => "javascript:"}
    %span.emoji.basketball
  %a{:href => "javascript:"}
    %span.emoji.motorsports
  %a{:href => "javascript:"}
    %span.emoji.pocketbell
  %a{:href => "javascript:"}
    %span.emoji.train
  %a{:href => "javascript:"}
    %span.emoji.subway
  %a{:href => "javascript:"}
    %span.emoji.bullettrain
  %a{:href => "javascript:"}
    %span.emoji.car
  %a{:href => "javascript:"}
    %span.emoji.rvcar
  %a{:href => "javascript:"}
    %span.emoji.bus
  %a{:href => "javascript:"}
    %span.emoji.ship
  %a{:href => "javascript:"}
    %span.emoji.airplane
  %a{:href => "javascript:"}
    %span.emoji.house
  %a{:href => "javascript:"}
    %span.emoji.building
  %a{:href => "javascript:"}
    %span.emoji.postoffice
  %a{:href => "javascript:"}
    %span.emoji.hospital
  %a{:href => "javascript:"}
    %span.emoji.bank
  %a{:href => "javascript:"}
    %span.emoji.atm
  %a{:href => "javascript:"}
    %span.emoji.hotel
  %a{:href => "javascript:"}
    %span.emoji.twentyfourhours
  %a{:href => "javascript:"}
    %span.emoji.gasstation
  %a{:href => "javascript:"}
    %span.emoji.parking
  %a{:href => "javascript:"}
    %span.emoji.signaler
  %a{:href => "javascript:"}
    %span.emoji.toilet
  %a{:href => "javascript:"}
    %span.emoji.restaurant
  %a{:href => "javascript:"}
    %span.emoji.cafe
  %a{:href => "javascript:"}
    %span.emoji.bar
  %a{:href => "javascript:"}
    %span.emoji.beer
  %a{:href => "javascript:"}
    %span.emoji.fastfood
  %a{:href => "javascript:"}
    %span.emoji.boutique
  %a{:href => "javascript:"}
    %span.emoji.hairsalon
  %a{:href => "javascript:"}
    %span.emoji.karaoke
  %a{:href => "javascript:"}
    %span.emoji.movie
  %a{:href => "javascript:"}
    %span.emoji.upwardright
  %a{:href => "javascript:"}
    %span.emoji.carouselpony
  %a{:href => "javascript:"}
    %span.emoji.music
  %a{:href => "javascript:"}
    %span.emoji.art
  %a{:href => "javascript:"}
    %span.emoji.drama
  %a{:href => "javascript:"}
    %span.emoji.event
  %a{:href => "javascript:"}
    %span.emoji.ticket
  %a{:href => "javascript:"}
    %span.emoji.smoking
  %a{:href => "javascript:"}
    %span.emoji.nosmoking
  %a{:href => "javascript:"}
    %span.emoji.camera
  %a{:href => "javascript:"}
    %span.emoji.bag
  %a{:href => "javascript:"}
    %span.emoji.book
  %a{:href => "javascript:"}
    %span.emoji.ribbon
  %a{:href => "javascript:"}
    %span.emoji.present
  %a{:href => "javascript:"}
    %span.emoji.birthday
  %a{:href => "javascript:"}
    %span.emoji.telephone
  %a{:href => "javascript:"}
    %span.emoji.mobilephone
  %a{:href => "javascript:"}
    %span.emoji.memo
  %a{:href => "javascript:"}
    %span.emoji.tv
  %a{:href => "javascript:"}
    %span.emoji.game
  %a{:href => "javascript:"}
    %span.emoji.cd
  %a{:href => "javascript:"}
    %span.emoji.heart
  %a{:href => "javascript:"}
    %span.emoji.spade
  %a{:href => "javascript:"}
    %span.emoji.diamond
  %a{:href => "javascript:"}
    %span.emoji.club
  %a{:href => "javascript:"}
    %span.emoji.eye
  %a{:href => "javascript:"}
    %span.emoji.ear
  %a{:href => "javascript:"}
    %span.emoji.rock
  %a{:href => "javascript:"}
    %span.emoji.scissors
  %a{:href => "javascript:"}
    %span.emoji.paper
  %a{:href => "javascript:"}
    %span.emoji.downwardright
  %a{:href => "javascript:"}
    %span.emoji.upwardleft
  %a{:href => "javascript:"}
    %span.emoji.foot
  %a{:href => "javascript:"}
    %span.emoji.shoe
  %a{:href => "javascript:"}
    %span.emoji.eyeglass
  %a{:href => "javascript:"}
    %span.emoji.wheelchair
  %a{:href => "javascript:"}
    %span.emoji.newmoon
  %a{:href => "javascript:"}
    %span.emoji.moon1
  %a{:href => "javascript:"}
    %span.emoji.moon2
  %a{:href => "javascript:"}
    %span.emoji.moon3
  %a{:href => "javascript:"}
    %span.emoji.fullmoon
  %a{:href => "javascript:"}
    %span.emoji.dog
  %a{:href => "javascript:"}
    %span.emoji.cat
  %a{:href => "javascript:"}
    %span.emoji.yacht
  %a{:href => "javascript:"}
    %span.emoji.xmas
  %a{:href => "javascript:"}
    %span.emoji.downwardleft
  %a{:href => "javascript:"}
    %span.emoji.phoneto
  %a{:href => "javascript:"}
    %span.emoji.mailto
  %a{:href => "javascript:"}
    %span.emoji.faxto
  %a{:href => "javascript:"}
    %span.emoji.info01
  %a{:href => "javascript:"}
    %span.emoji.info02
  %a{:href => "javascript:"}
    %span.emoji.mail
  %a{:href => "javascript:"}
    %span.emoji.by-d
  %a{:href => "javascript:"}
    %span.emoji.d-point
  %a{:href => "javascript:"}
    %span.emoji.yen
  %a{:href => "javascript:"}
    %span.emoji.free
  %a{:href => "javascript:"}
    %span.emoji.id
  %a{:href => "javascript:"}
    %span.emoji.key
  %a{:href => "javascript:"}
    %span.emoji.enter
  %a{:href => "javascript:"}
    %span.emoji.clear
  %a{:href => "javascript:"}
    %span.emoji.search
  %a{:href => "javascript:"}
    %span.emoji.new
  %a{:href => "javascript:"}
    %span.emoji.flag
  %a{:href => "javascript:"}
    %span.emoji.freedial
  %a{:href => "javascript:"}
    %span.emoji.sharp
  %a{:href => "javascript:"}
    %span.emoji.mobaq
  %a{:href => "javascript:"}
    %span.emoji.one
  %a{:href => "javascript:"}
    %span.emoji.two
  %a{:href => "javascript:"}
    %span.emoji.three
  %a{:href => "javascript:"}
    %span.emoji.four
  %a{:href => "javascript:"}
    %span.emoji.five
  %a{:href => "javascript:"}
    %span.emoji.six
  %a{:href => "javascript:"}
    %span.emoji.seven
  %a{:href => "javascript:"}
    %span.emoji.eight
  %a{:href => "javascript:"}
    %span.emoji.nine
  %a{:href => "javascript:"}
    %span.emoji.zero
  %a{:href => "javascript:"}
    %span.emoji.ok
  %a{:href => "javascript:"}
    %span.emoji.heart01
  %a{:href => "javascript:"}
    %span.emoji.heart02
  %a{:href => "javascript:"}
    %span.emoji.heart03
  %a{:href => "javascript:"}
    %span.emoji.heart04
  %a{:href => "javascript:"}
    %span.emoji.happy01
  %a{:href => "javascript:"}
    %span.emoji.angry
  %a{:href => "javascript:"}
    %span.emoji.despair
  %a{:href => "javascript:"}
    %span.emoji.sad
  %a{:href => "javascript:"}
    %span.emoji.wobbly
  %a{:href => "javascript:"}
    %span.emoji.up
  %a{:href => "javascript:"}
    %span.emoji.note
  %a{:href => "javascript:"}
    %span.emoji.spa
  %a{:href => "javascript:"}
    %span.emoji.cute
  %a{:href => "javascript:"}
    %span.emoji.kissmark
  %a{:href => "javascript:"}
    %span.emoji.shine
  %a{:href => "javascript:"}
    %span.emoji.flair
  %a{:href => "javascript:"}
    %span.emoji.annoy
  %a{:href => "javascript:"}
    %span.emoji.punch
  %a{:href => "javascript:"}
    %span.emoji.bomb
  %a{:href => "javascript:"}
    %span.emoji.notes
  %a{:href => "javascript:"}
    %span.emoji.down
  %a{:href => "javascript:"}
    %span.emoji.sleepy
  %a{:href => "javascript:"}
    %span.emoji.sign01
  %a{:href => "javascript:"}
    %span.emoji.sign02
  %a{:href => "javascript:"}
    %span.emoji.sign03
  %a{:href => "javascript:"}
    %span.emoji.impact
  %a{:href => "javascript:"}
    %span.emoji.sweat01
  %a{:href => "javascript:"}
    %span.emoji.sweat02
  %a{:href => "javascript:"}
    %span.emoji.dash
  %a{:href => "javascript:"}
    %span.emoji.sign04
  %a{:href => "javascript:"}
    %span.emoji.sign05
  %a{:href => "javascript:"}
    %span.emoji.slate
  %a{:href => "javascript:"}
    %span.emoji.pouch
  %a{:href => "javascript:"}
    %span.emoji.pen
  %a{:href => "javascript:"}
    %span.emoji.shadow
  %a{:href => "javascript:"}
    %span.emoji.chair
  %a{:href => "javascript:"}
    %span.emoji.night
  %a{:href => "javascript:"}
    %span.emoji.soon
  %a{:href => "javascript:"}
    %span.emoji.on
  %a{:href => "javascript:"}
    %span.emoji.end
  %a{:href => "javascript:"}
    %span.emoji.clock
  %a{:href => "javascript:"}
    %span.emoji.appli01
  %a{:href => "javascript:"}
    %span.emoji.appli02
  %a{:href => "javascript:"}
    %span.emoji.t-shirt
  %a{:href => "javascript:"}
    %span.emoji.moneybag
  %a{:href => "javascript:"}
    %span.emoji.rouge
  %a{:href => "javascript:"}
    %span.emoji.denim
  %a{:href => "javascript:"}
    %span.emoji.snowboard
  %a{:href => "javascript:"}
    %span.emoji.bell
  %a{:href => "javascript:"}
    %span.emoji.door
  %a{:href => "javascript:"}
    %span.emoji.dollar
  %a{:href => "javascript:"}
    %span.emoji.pc
  %a{:href => "javascript:"}
    %span.emoji.loveletter
  %a{:href => "javascript:"}
    %span.emoji.wrench
  %a{:href => "javascript:"}
    %span.emoji.pencil
  %a{:href => "javascript:"}
    %span.emoji.crown
  %a{:href => "javascript:"}
    %span.emoji.ring
  %a{:href => "javascript:"}
    %span.emoji.sandclock
  %a{:href => "javascript:"}
    %span.emoji.bicycle
  %a{:href => "javascript:"}
    %span.emoji.japanesetea
  %a{:href => "javascript:"}
    %span.emoji.watch
  %a{:href => "javascript:"}
    %span.emoji.think
  %a{:href => "javascript:"}
    %span.emoji.confident
  %a{:href => "javascript:"}
    %span.emoji.coldsweats01
  %a{:href => "javascript:"}
    %span.emoji.coldsweats02
  %a{:href => "javascript:"}
    %span.emoji.pout
  %a{:href => "javascript:"}
    %span.emoji.gawk
  %a{:href => "javascript:"}
    %span.emoji.lovely
  %a{:href => "javascript:"}
    %span.emoji.good
  %a{:href => "javascript:"}
    %span.emoji.bleah
  %a{:href => "javascript:"}
    %span.emoji.wink
  %a{:href => "javascript:"}
    %span.emoji.happy02
  %a{:href => "javascript:"}
    %span.emoji.bearing
  %a{:href => "javascript:"}
    %span.emoji.catface
  %a{:href => "javascript:"}
    %span.emoji.crying
  %a{:href => "javascript:"}
    %span.emoji.weep
  %a{:href => "javascript:"}
    %span.emoji.ng
  %a{:href => "javascript:"}
    %span.emoji.clip
  %a{:href => "javascript:"}
    %span.emoji.copyright
  %a{:href => "javascript:"}
    %span.emoji.tm
  %a{:href => "javascript:"}
    %span.emoji.run
  %a{:href => "javascript:"}
    %span.emoji.secret
  %a{:href => "javascript:"}
    %span.emoji.recycle
  %a{:href => "javascript:"}
    %span.emoji.r-mark
  %a{:href => "javascript:"}
    %span.emoji.danger
  %a{:href => "javascript:"}
    %span.emoji.ban
  %a{:href => "javascript:"}
    %span.emoji.empty
  %a{:href => "javascript:"}
    %span.emoji.pass
  %a{:href => "javascript:"}
    %span.emoji.full
  %a{:href => "javascript:"}
    %span.emoji.leftright
  %a{:href => "javascript:"}
    %span.emoji.updown
  %a{:href => "javascript:"}
    %span.emoji.school
  %a{:href => "javascript:"}
    %span.emoji.wave
  %a{:href => "javascript:"}
    %span.emoji.fuji
  %a{:href => "javascript:"}
    %span.emoji.clover
  %a{:href => "javascript:"}
    %span.emoji.cherry
  %a{:href => "javascript:"}
    %span.emoji.tulip
  %a{:href => "javascript:"}
    %span.emoji.banana
  %a{:href => "javascript:"}
    %span.emoji.apple
  %a{:href => "javascript:"}
    %span.emoji.bud
  %a{:href => "javascript:"}
    %span.emoji.maple
  %a{:href => "javascript:"}
    %span.emoji.cherryblossom
  %a{:href => "javascript:"}
    %span.emoji.riceball
  %a{:href => "javascript:"}
    %span.emoji.cake
  %a{:href => "javascript:"}
    %span.emoji.bottle
  %a{:href => "javascript:"}
    %span.emoji.noodle
  %a{:href => "javascript:"}
    %span.emoji.bread
  %a{:href => "javascript:"}
    %span.emoji.snail
  %a{:href => "javascript:"}
    %span.emoji.chick
  %a{:href => "javascript:"}
    %span.emoji.penguin
  %a{:href => "javascript:"}
    %span.emoji.fish
  %a{:href => "javascript:"}
    %span.emoji.delicious
  %a{:href => "javascript:"}
    %span.emoji.smile
  %a{:href => "javascript:"}
    %span.emoji.horse
  %a{:href => "javascript:"}
    %span.emoji.pig
  %a{:href => "javascript:"}
    %span.emoji.wine
  %a{:href => "javascript:"}
    %span.emoji.shock
