#flash_messages
  =flash[:error]
#login-form
  =form_tag session_path do
    %p
      %label{:for=>"password"}
        用户名或邮箱:(
        =link_to "还没注册？", new_user_path #signup_path
        )
      %br
      =text_field_tag 'user_session[login]', nil, :tabindex => 1, :class => 'input'
    %p
      %label{:for=>"password"}
        密码：
        (
        =link_to "忘记密码？", new_password_reset_path
        )
      %br
      = password_field_tag 'user_session[password]', nil, :tabindex => 2, :class => 'input'
    %p.remember
      = check_box_tag 'user_session[remember_me]', '1', @remember_me
      %label{:for => 'user_session_remember_me'}
        记住我
        &nbsp; &nbsp; &nbsp;
      =# link_to image_tag("/assets/sinalogin.png"), "/syncs/sina/new"
    %p.submit
      %input.btn.btn-primary.pull-right{:name=>"commit",:type=>"submit", :value=>"登录", :tabindex=>"3"}
