.greeting {
  border-radius: 5px;;
  color: #735005;
  margin-left: 0px;

  p {
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }

  a {
   color: #735005;
    font-weight: bold;
    text-decoration: underline;
  }

  h3 {
    color: #ae0000;
  }
}
