!!! Mobile
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title=@notice
  %body
    %p.notice=@notice
    %p
      %input(value="back" type="button" onclick="javascript:history.go(-1);")
